<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{regular.name}}</h2>
    <img src="{{regular.my_pic.url}}" alt="">
    <h3>{{regular.email}}</h3>
    <h3>{{regular.genre}}</h3>
    <h3>{{regular.phone}}</h3>
    <h3>{{regular.recidence}}</h3>
    <h3>{{regular.date_created}}</h3>
</body>
</html>